@page {
    /* dimensions for the whole page */
    size: A5 !important;

    margin: 0 !important;
}

html {
    /* off-white, so body edge is visible in browser */
    background: #eee;
}

body {
    /* A5 dimensions */
    height: 210mm !important;
    width: 148.5mm !important;

    margin: 5 !important;
}